<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSS/aboutus.css">
</head>
<body>
    <div><p>> <span>Our Name</span>: "<i>Melodify</i>"</p>
        <p>> <span>DESCRIPTION</span>: "<i>Immerse yourself in the world of music with Melodify, the ultimate song application that brings harmony to your fingertips. With an intuitive interface and a vibrant selection of tunes</i>"</p>
        <p>> <span>our services</span>: <b>Melodify offers an unparalleled auditory experience. Dive into a sea of melodies, discover new artists, and create playlists that resonate with your soul.  Whether you’re looking to relax, energize, or explore, Melodify is your personal gateway to the soundtrack of life. Tune in, turn up, and let the rhythm move you.</b>...</p>
        <p>> <span>SOME PAGES ON THIS SERVER THAT YOU DO HAVE PERMISSION TO ACCESS</span>: [<a href="/">Home Page</a>, <a href="/">About Us</a>, <a href="/">Contact Us</a>, <a href="/">Blog</a>...]</p><p>> <span>HAVE A NICE DAY SIR :</span></p>
        </div>
        
        <a class="avatar" href="https://codepen.io/leenalavanya/" title="If you liked this pen, don't forget to heart, share and follow ❤"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/157344/profile/profile-512.jpg?1535437978"/></a>
     
    
        <script src="../static/JS/aboutus.js"></script>
</body>
</html>