<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSS/confirmationLogin.css">
</head>
<body>
  <body>
    
    <section>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="gradient"></div>
          </div>
        </div>
      </div>
    </section>
        <section>
          <div class="container">
            <div class="background-img">
              <div class="login-box">
                <h2>Notification</h2>
                <p>{{message}}</p>
                <form method="post">
                  <a  href="{{url_for('signUp')}}" style="left: 20px;">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Do you wanna sign up ?
                  </a>
                  
                </form>
              </div>
            </div>
          </div>
        </section>
</body>
    
        

</body>
</html>