<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSS/test.css">
</head>
<body>
    
    <div class="login-box">
        
        <form>
          <a class="forget" href="#"style="left: -20px; background: linear-gradient(180deg, transparent, #5b37eb,#f1307e);   box-shadow: 0 0 5px #5b37eb,
                0 0 25px #5b37eb,
                0 0 50px #f1307e,
                0 0 100px #f1307e;">
            <span style=" background: linear-gradient(360deg, transparent, #5b37eb,#f1307e);"></span>
            <span style=" background: linear-gradient(360deg, transparent, #5b37eb,#f1307e);"></span>
            <span style=" background: linear-gradient(360deg, transparent, #5b37eb,#f1307e);"></span>
            <span style=" background: linear-gradient(360deg, transparent, #5b37eb,#f1307e);"></span>
            Submit
          </a>
          <a class="forget" href="#"style="left: 20px; background: linear-gradient(180deg, transparent, #5b37eb,#f1307e);   box-shadow: 0 0 5px #5b37eb,
                0 0 25px #5b37eb,
                0 0 50px #f1307e,
                0 0 100px #f1307e;">
            <span style=" background: linear-gradient(360deg, transparent, #03e9f4,green);"></span>
            <span style=" background: linear-gradient(360deg, transparent, #03e9f4,green);"></span>
            <span style=" background: linear-gradient(360deg, transparent, #03e9f4,green);"></span>
            <span style=" background: linear-gradient(360deg, transparent, #03e9f4,green);"></span>
            Submit
          </a>
          <a class="forget" href="#"style="left: 60px; background: linear-gradient(180deg, transparent, #5b37eb,#f1307e);   box-shadow: 0 0 5px #5b37eb,
                0 0 25px #5b37eb,
                0 0 50px #f1307e,
                0 0 100px #f1307e;">
            <span style=" background: linear-gradient(360deg, transparent, #5b37eb,#f1307e);"></span>
            <span style=" background: linear-gradient(360deg, transparent, #5b37eb,#f1307e);"></span>
            <span style=" background: linear-gradient(360deg, transparent, #5b37eb,#f1307e);"></span>
            <span style=" background: linear-gradient(360deg, transparent, #5b37eb,#f1307e);"></span>
            Submit
          </a>
          <a class="forget" href="#"style="left: 100px; background: linear-gradient(180deg, transparent, #5b37eb,#f1307e);   box-shadow: 0 0 5px #5b37eb,
                0 0 25px #5b37eb,
                0 0 50px #f1307e,
                0 0 100px #f1307e;">
            <span style=" background: linear-gradient(360deg, transparent, #5b37eb,#f1307e);"></span>
            <span style=" background: linear-gradient(360deg, transparent, #5b37eb,#f1307e);"></span>
            <span style=" background: linear-gradient(360deg, transparent, #5b37eb,#f1307e);"></span>
            <span style=" background: linear-gradient(360deg, transparent, #5b37eb,#f1307e);"></span>
            Submit
          </a>

        </form>
         
      </div>
      
</body>
</html>